header{
    background-color: #bbbb; 
    padding: 20px 0;
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
 
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;   
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;

}
nav a:hover{
    color: white;
    text-decoration: underline;
}

.titulo{
    text-align: center;
    font-size:55px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: solid;
}

.sobre-barbearia {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px auto;
}

.texto-barbearia{
    text-align: center;
    font-size: 25px;
    width: 30%;
    padding-right: 20px;
    box-sizing: border-box;
}

.imagem-barbeiro{
    width: 50%;
    border:4PX solid #bbbb;
    max-width:402px;
    max-height:268px;
    
}

.missao{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px auto;
    
}
    
.paragrafo-missao{
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: 30%;
}

footer{
    background: url(bg.jpg);
    text-align: center;
    padding: 20px 0;
}

.copyright{
    color: white;
}
